<!DOCTYPE html>
<html>
<head>
  <title>WDIPacman</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", '' %>
<div class='login'>
    <% if current_user %>
      <%= current_user.email %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>
  <%= link_to "Games", 'games' %>

 
<h1>WDI Pacman</h1>

<!--<canvas id="canvas" width="560" height="620"></canvas>-->

<%= yield %>

<div id="scores" >
<h3>Top Scores</h3>
<% @games.each do |game| %>
<td><%= game.score %></td>
<% end %>
</div>


</body>
</html>
