<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>WDiPacMan</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="icon-bar five-up">

    <%= link_to image_tag('fi-home.svg')+"Home", root_path %>
    <% if user_signed_in? %>
    <%= link_to image_tag('Logout.png')+"Logout", destroy_user_session_path, method: :delete %> >
    <%= link_to image_tag('PacManMenu.png')+"New Game", new_game_path %> >
    <% else %>
    <%= link_to image_tag("SignIn.png")+"Sign In", new_user_session_path %>
    <%= link_to image_tag('Register.png')+"Register", new_user_registration_path %>
    <% end %>

  </div>
  <div id="scores" >
    <h1>WDI Pacman</h1>
    <h3>HIGH SCORES</h3>
    <% @games.each do |game| %>
    <ul>
      <li><%= game.score %></li>
    </ul>
    <% end %>
  </div>

  <!-- <%= link_to "Games", 'games' %> -->

  <%= yield %>

<div id="picture"><img src="/assets/Pac_man_background_image_clean.png"></div>

<div id="instructions">
  <p>INSTRUCTIONS:</p>
  <p>Click on New Game above to start a game</p>
  <p>Use arrow keys to move pacman</p>
  <p>Eat Pac Dots to gain points</p>
  <p>Eat Power Dots to become invincible and gain more points</p>
  <p>Avoid the ghosts or die</p>
  <p>Eat the ghosts when you are invincible for more points</p>
  <p>Invincibility is short lived</p>
  <p>Dead Ghosts still have eyes</p>
  <p>Watch out for Blinky the red ghost, he chases you!</p>
  <p>Pinky, Inky and Clyde are more passive></p>
  <p>written by</p>
  <p>Spencer Meyer, General Assembly 2015</p>
</div>

</body>
</html>
